INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/Mar02/full1000Event_ch32to47_28Samples_20210302.dat
#INFILENAME: /home/cfmcginn/CUBHIG/tempPlots2021/Mar01/full100Event_ch16o31_28Samples_20210301.dat
OUTFILENAME: full1000Event_ch32to47_28Samples_20210302.root
#OUTFILENAME: full100Event_ch16to31_28Samples_20210301.root
SAVEEXT: png

MINCHANNEL: 32
MAXCHANNEL: 47

GLOBALMAX: 20000

LINRESMAX: 25000
LINRESMIN: -500
#ANSWERFILENAME: /home/cfmcginn/Projects/sPHENIXADC/input/samples/goodPulseTERMINALANSWER_20210225.dat